.menu-paragraph button {
    width: 60px;
    height: 42px;
    background-color: lightgray;
    padding: 0 !important;
}
.display-menu #menu-button  {
    background-color: darkgray;
    border-right-width: 0;
    border-bottom-width: 0;
}
html {
    font-size: 10px;
}
p {
    font-size: 15px;
}
#error {
    color: red;
    display: none;
}
.state-error #error {
    display: block;
}
.menu-paragraph {
    text-align: right;
}
.state-loading #fortune {
    background: url("./img/loader.gif") no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    min-width: 50px;
    min-height: 50px;
}
.state-error #fortune {
    display: none;
}
#fortune {
    font-size: 20px;
}
.state-loading #another, .state-error #another {
    display: none;
}
    /* Handling menu / main screen switch  */
.main-area, .menu-area {
    float: left;
}
.menu-area {
    display: none;
}
.display-menu .main-area {
    display:none;
}
.display-menu .menu-area {
    display:block;
}
.display-menu #another {
    display: none;
}

    /* Menu */
#urlInput {
    width: 100%;
}

